/_minted*

# com template abntex
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
# (List of Listings), produced by the listings package.
*.lol
*.out.ps
*.pdf
*.synctex.gz
*.toc

# com o template unemat-comp (derivado do inf-ufg)
*.bcf
*.lof
*.lot
*.out
*.run.xml